In [1]:
from pycaret.classification import *
import pandas as pd
import numpy as np
from sklearn import metrics

In [2]:
df_fa = pd.read_csv('/home/syb/Code/coupling/python/jupyter/file/sc_mode_1.csv')
df_label = pd.read_csv('/home/syb/Code/coupling/python/jupyter/file/sc_mode_label.csv')
df_info = pd.read_csv('/home/syb/Code/coupling/python/jupyter/file/sc_mode_info.csv')

In [5]:
df_metrics = pd.DataFrame(columns = ['auc','acc','pre','recall','f1'])
def cal_metrics(y,y_pred,df_metrics):
    auc_score = metrics.roc_auc_score(y, y_pred)
    acc_score = metrics.accuracy_score(y,y_pred)
    pre_score = metrics.precision_score(y, y_pred)
    recall_score = metrics.recall_score(y, y_pred)
    f1_score = metrics.f1_score(y, y_pred)
    re = [auc_score,acc_score,pre_score,recall_score,f1_score]
    df_metrics.loc[len(df_metrics)]=re
    return df_metrics

In [16]:
df_metrics = pd.DataFrame(columns = ['auc','acc','pre','recall','f1'])
for i in range(7):

    df= pd.concat([df_fa,df_info],join="outer",axis=1)
    df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    
    s = setup(df_train, target = 'label',train_size = 0.7)
    best=create_model('lr')
    pred_df = predict_model(best, data = df_test)
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    df_metrics = cal_metrics(y,y_pred,df_metrics)

df_metrics

        auc       acc       pre    recall        f1
0  0.964246  0.964706  0.975000  0.951220  0.962963
1  0.895833  0.888889  0.807692  1.000000  0.893617
2  0.979167  0.983607  1.000000  0.958333  0.978723
3  0.924242  0.907407  0.807692  1.000000  0.893617
4  0.785256  0.776699  0.872727  0.750000  0.806723
5  0.696970  0.629630  0.512195  1.000000  0.677419
6  0.595238  0.590361  1.000000  0.190476  0.320000

In [17]:
print(df_metrics.mean())

auc       0.834422
acc       0.820186
pre       0.853615
recall    0.835718
f1        0.790437
dtype: float64

In [18]:
if True:   
    i=0
    df= pd.concat([df_fa,df_info],join="outer",axis=1)
    df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    df_test=df_test[['a_233','label']]
    df_train=df_train[['a_233','label']]
    s = setup(df_train, target = 'label',train_size = 0.7)
    best=create_model('lr')
    pred_df = predict_model(best, data = df_test)
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    df_metrics = cal_metrics(y,y_pred,df_metrics)
    
df_metrics

        auc       acc       pre    recall        f1
0  0.964246  0.964706  0.975000  0.951220  0.962963
1  0.895833  0.888889  0.807692  1.000000  0.893617
2  0.979167  0.983607  1.000000  0.958333  0.978723
3  0.924242  0.907407  0.807692  1.000000  0.893617
4  0.785256  0.776699  0.872727  0.750000  0.806723
5  0.696970  0.629630  0.512195  1.000000  0.677419
6  0.595238  0.590361  1.000000  0.190476  0.320000
7  0.695953  0.705882  0.944444  0.414634  0.576271

In [8]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [77]:
df_fa_1= pd.concat([df_fa,df_info],join="outer",axis=1)

for i in range(7):
   
    df = df_fa_1.sample(frac=1).reset_index(drop=True)
    #df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    
    s = setup(df_train, target = 'label',train_size = 0.55)
    svm_classifier=create_model('svm')
    pred_df = predict_model(svm_classifier, data = df_test)
    
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    
    df_metrics = cal_metrics(y,y_pred,df_metrics)

for i in range(7):
    df = df_fa_1.sample(frac=1).reset_index(drop=True)
    #df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    
    s = setup(df_train, target = 'label',train_size = 0.55)
    svm_classifier=create_model('lr')
    pred_df = predict_model(svm_classifier, data = df_test)
    
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    
    df_metrics = cal_metrics(y,y_pred,df_metrics)
    
df_metrics

ValueError: multi_class must be in ('ovo', 'ovr')

In [76]:
df_metrics.to_csv('df_metrics.csv')

In [71]:
df_fa_1= pd.concat([df_fa,df_info],join="outer",axis=1)
df = df_fa_1.sample(frac=1).reset_index(drop=True)

for i in range(7):
    df = df_fa_1.sample(frac=1).reset_index(drop=True)
    df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    
    s = setup(df_train, target = 'label',train_size = 0.55)
    svm_classifier=create_model('svm')
    pred_df = predict_model(svm_classifier, data = df_test)
    
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    
    df_metrics = cal_metrics(y,y_pred,df_metrics)
df_metrics

        auc       acc       pre    recall        f1
0  0.750000  0.750000  1.000000  0.500000  0.666667
1  0.618757  0.614458  0.916667  0.261905  0.407407
2  0.976441  0.976471  0.975610  0.975610  0.975610
3  0.875000  0.866667  0.777778  1.000000  0.875000
4  0.965653  0.967213  0.958333  0.958333  0.958333
5  0.851732  0.824074  0.694915  0.976190  0.811881
6  0.681691  0.747573  0.726190  0.953125  0.824324
7  0.803030  0.759259  0.617647  1.000000  0.763636
8  0.701510  0.698795  0.869565  0.476190  0.615385

In [72]:
df_fa_1= pd.concat([df_fa,df_info],join="outer",axis=1)
df = df_fa_1.sample(frac=1).reset_index(drop=True)

for i in range(7):
    df = df_fa_1.sample(frac=1).reset_index(drop=True)
    df = df[df['label'] !=2]
    df_test = df[df['center']== i+1].drop(axis=1,columns=['center','mmse'])
    df_train = df[df['center'] != i+1].drop(axis=1,columns=['center','mmse'])
    
    s = setup(df_train, target = 'label',train_size = 0.55)
    svm_classifier=create_model('lr')
    pred_df = predict_model(svm_classifier, data = df_test)
    y = pred_df['label'].tolist()
    y_pred = pred_df['prediction_label'].tolist()
    
    df_metrics = cal_metrics(y,y_pred,df_metrics)
df_metrics

         auc       acc       pre    recall        f1
0   0.750000  0.750000  1.000000  0.500000  0.666667
1   0.618757  0.614458  0.916667  0.261905  0.407407
2   0.976441  0.976471  0.975610  0.975610  0.975610
3   0.875000  0.866667  0.777778  1.000000  0.875000
4   0.965653  0.967213  0.958333  0.958333  0.958333
5   0.851732  0.824074  0.694915  0.976190  0.811881
6   0.681691  0.747573  0.726190  0.953125  0.824324
7   0.803030  0.759259  0.617647  1.000000  0.763636
8   0.701510  0.698795  0.869565  0.476190  0.615385
9   0.951220  0.952941  1.000000  0.902439  0.948718
10  0.875000  0.866667  0.777778  1.000000  0.875000
11  0.937500  0.950820  1.000000  0.875000  0.933333
12  0.901515  0.879630  0.763636  1.000000  0.865979
13  0.783053  0.786408  0.850000  0.796875  0.822581
14  0.787879  0.740741  0.600000  1.000000  0.750000
15  0.630952  0.626506  1.000000  0.261905  0.415094

In [21]:
s = setup(df_fa_1, target = 'label_1',train_size = 0.9)

In [7]:
best = compare_models()

In [14]:
svm_classifier=create_model('svm')

In [15]:
print(svm_classifier)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.001, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=-1, penalty='l2',
              power_t=0.5, random_state=2365, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
red_unseen = predict_model(lr, data = unseen_dataframe)

In [8]:

evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…